SOAP-Tomcat/src/main/webapp/WEB-INF/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://service/" name="OrderServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/orders?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="addOrder">
        <part name="parameters" element="tns:addOrder"/>
    </message>
    <message name="addOrderResponse">
        <part name="parameters" element="tns:addOrderResponse"/>
    </message>
    <message name="getAllOrders">
        <part name="parameters" element="tns:getAllOrders"/>
    </message>
    <message name="getAllOrdersResponse">
        <part name="parameters" element="tns:getAllOrdersResponse"/>
    </message>
    <message name="getById">
        <part name="parameters" element="tns:getById"/>
    </message>
    <message name="getByIdResponse">
        <part name="parameters" element="tns:getByIdResponse"/>
    </message>
    <portType name="OrderService">
        <operation name="addOrder">
            <input wsam:Action="http://service/OrderService/addOrderRequest" message="tns:addOrder"/>
            <output wsam:Action="http://service/OrderService/addOrderResponse" message="tns:addOrderResponse"/>
        </operation>
        <operation name="getAllOrders">
            <input wsam:Action="http://service/OrderService/getAllOrdersRequest" message="tns:getAllOrders"/>
            <output wsam:Action="http://service/OrderService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
        </operation>
        <operation name="getById">
            <input wsam:Action="http://service/OrderService/getByIdRequest" message="tns:getById"/>
            <output wsam:Action="http://service/OrderService/getByIdResponse" message="tns:getByIdResponse"/>
        </operation>
    </portType>
    <binding name="OrderServicePortBinding" type="tns:OrderService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllOrders">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="OrderServiceService">
        <port name="OrderServicePort" binding="tns:OrderServicePortBinding">
            <soap:address location="http://localhost:8080/orders"/>
        </port>
    </service>
</definitions>